<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="span8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
    <div class="center hero-unit">
      <h2><strong>メタルランキング検索サイト（仮）</strong></h2>

      <h2>
        検索を試してみる
        <%= link_to "ここをクリック!!", bands_path %>
        sample application.
      </h2>

      <%= link_to "Sign up now!", signup_path,
                  class: "btn btn-large btn-primary" %>
    </div>

    <%= link_to image_tag("guitar_sil.jpg", alt: "Rails"), '#' %>

<% end %>