<tr>
  <td class="text-center">
    <%= link_to band.name, band %>
  </td>
  <td class="text-center">
    <%= band.place %>
  </td>
  <td class="text-center">
    <%= band.genre %>
  </td>
  <td class="text-center">
    <%= band.rate %>
  </td>
  <td class="text-center">
    <%= band.rating_ct %>
  </td>
  <td class="text-center">
    <%= band.biography %>
  </td>
  <td class="text-center">
    <%= band.established_date %>
  </td>
</tr>
