<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Metal Ranking(tmp)", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Bands",    '#' %></li>
          <li><%= link_to "Songs",    '#' %></li>
          <li><%= link_to "BBS",    '#' %></li>
          <li><%= link_to "Live Info",    '#' %></li>
          <li><%= link_to "Community",    '#' %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>